<nav>
    <ul>
        <li><a class="btn-header-el" href="/weekly-nerd-overview/">Weekly Nerds</a></li>
        <li><a class="btn-header-el" href="/progress-review-overview/">Progress</a></li>
        <li><a class="btn-header-el" href="/reflections/">Reflections</a></li>
        <li><a class="btn-header-el" href="/hackhaton/">Hackhaton</a></li>
    </ul>
    <a href="" class="btn-header-el hamburger">
        <svg width="30" height="19" viewBox="0 0 30 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L30 0V4L0 4V0Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 7L30 7V11L0 11V7Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0 15L30 15V19L0 19V15Z" fill="white"/>
        </svg>
    </a>
</nav>