<nav>
    <ul>
        <li><a class="btn-header-el" href="/weekly-nerd-overview/">Weekly Nerds</a></li>
        <li><a class="btn-header-el" href="/progress-reviews/">Progress Reviews</a></li>
        <li><a class="btn-header-el" href="/reflections/">Reflections</a></li>
    </ul>
</nav>