.btn-header-el {
    padding: .6em 1.2em;
    font-size: .75em;
    transition: background 120ms ease-in-out;
    background: var(--clr-secondary-trans);
    mix-blend-mode: overlay;

    &:hover {
        background: var(--clr-primary-trans);
    }
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}