.grid-overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/background.png) center/cover no-repeat;
  }
  
.grid-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 19.18% 15% 15.23% 15.23% 35.35%;
    grid-template-rows: 23.49% 13.34% 18.51% 24.88% 19.77%;

    overflow: hidden;
}

.grid-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
}

.grid-svg line {
    stroke: var(--clr-white);
    stroke-width: 1px;
}