.grid-overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/background.png) center/cover no-repeat;
  }
  
.grid-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    grid-template-rows: var(--grid-template-rows);

    overflow: hidden;
}

.grid-svg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;

    &.mobile {
        display: none;
    }
}

.grid-svg line {
    stroke: var(--clr-white);
    stroke-width: 1px;
}

@media (max-width: 900px) {
    .grid-svg.desktop {
        display: none;
    }

    .grid-svg.mobile {
        display: block;
    }

    .grid-content {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: var(--grid-template-columns-s);
        grid-template-rows: var(--grid-template-rows-s);

        overflow: hidden;
    }
}