.card-grid,
.orange-square {
    grid-row: 2 / 5;
    grid-column: 2 / 5;

    width: 100%;
    height: 100%;

    z-index: 10;
}

.orange-square {
    z-index: 0;

    background: rgba(255, 153, 0, 0.49);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(3px);
}

.card-controls {
    margin: 1px;
    height: 8cqh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: rgba(86, 86, 86, 0.315);
    backdrop-filter: blur(2px);
}

.overview-card {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 13.34vh 18.51vh 24.88vh;
    grid-template-columns: 15vw 15.23vw 15.23vw;

    h3 {
        text-transform: uppercase;
        line-height: clamp(1rem, 6rem, 8rem); 
        font-size: clamp(2rem, 4rem, 6rem);
    }

    > h3:first-of-type {
        grid-column: 1 / 4;
        grid-row: 1;
    }

    > h3:last-of-type {
        grid-column: 1 / 4;
        grid-row: 2;
    }

    > .bg-text {
        margin: 1px;
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        backdrop-filter: blur(6px);
        background-color: rgb(73 73 73 / 20%);

        > p {
            color: var(--clr-white);
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            
            &:last-of-type {
                font-size: clamp(14px, 16px, 1rem);
                font-family: var(--font-family-headers);
            }
        }
    }
}

.weekly-nerd-card .overview-card {
    > h3:first-of-type {
        line-height: clamp(1rem, 6rem, 8rem); 
        font-size: clamp(2rem, 4.5rem, 6rem);
    }

    > h3:last-of-type{
        line-height: clamp(1rem, 6.2rem, 8rem);
        font-size: clamp(2rem, 4.5rem, 6rem);
        text-align: end;
    }

    > .bg-text {
        > p {
            font-size: clamp(14px, 16px, 1rem);
            font-weight: 100;
            color: var(--clr-white);
        }
    }
}

.progress-review-card .overview-card {
    > h3 {
        line-height: clamp(1rem, 6rem, 8rem); 
        font-size: clamp(2rem, 4.5rem, 6rem);
    }

    > h3:last-of-type {
        text-align: end;
        grid-column: 2 / 4;

        line-height: clamp(1rem, 6.2rem, 8rem);
        font-size: clamp(2rem, 4.5rem, 6rem);
    }

    > .bg-text {

        padding: 1em;

        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1em;

        > p {
            font-size: clamp(14px, 1rem, 1.2rem);
            font-weight: 100;
            line-height: 26px;
            margin: 0;
        }

        p:last-of-type {
            font-size: .9rem;
            font-family: var(--font-family-headers);
        }
    }
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.swiper-button-next {
    background-image: url('/assets/icons/next.svg');
}

.swiper-button-prev {
    background-image: url('/assets/icons/back.svg');
}

.swiper-slide {
    opacity: 0;
  }

.swiper-slide-active {
    opacity: 1;
    transition: all ease-in-out 200ms;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;

    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-in-out;
}

.swiper-pagination-bullet-active {
    background: var(--clr-primary);
    transform: scale(1.2);
}

/* HOVERS */
.swiper-slide-active:hover {
    outline: 5px solid var(--clr-white);
}

@media (max-width: 900px) {
    .card-grid,
    .orange-square {
        grid-row: 2 / 5;
        grid-column: 2 / 3;
    }
    
    .overview-card {
        grid-template-rows: 15vh 20vh 25vh;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .card-grid,
    .orange-square {
        grid-row: 2 / 5;
        grid-column: 1 / 4;
    }

    .overview-card {
        h3 {
            text-align: center;
            justify-self: center;
        }
    }

    .weekly-nerd-card .overview-card {
        > h3:first-of-type {
            line-height: clamp(7rem, 0.6852rem + 11.8519vw, 8.5rem);
            font-size: clamp(3.5rem, 0.6852rem + 11.8519vw, 5.5rem);
        }

        > h3:last-of-type {
            line-height: clamp(7rem, 0.6852rem + 11.8519vw, 8.5rem);
            font-size: clamp(3rem, 0.6852rem + 11.8519vw, 4.5rem);
        }
    }

    .progress-review-card .overview-card {
        > h3:first-of-type {
            line-height: clamp(7rem, 0.6852rem + 11.8519vw, 8.5rem);
            font-size: clamp(3rem, 0.6852rem + 11.8519vw, 3rem);
        }

        > h3:last-of-type {
            line-height: clamp(7rem, 0.6852rem + 11.8519vw, 8.5rem);
            font-size: clamp(3rem, 0.6852rem + 11.8519vw, 5rem);
        }
    }
}