.card-grid,
.orange-square {
    grid-row: 2 / 5;
    grid-column: 2 / 5;

    width: 100%;
    height: 100%;
}

.orange-square {
    z-index: 0;

    background: rgba(255, 153, 0, 0.49);
    mix-blend-mode: hard-light;
    backdrop-filter: blur(3px);
}

.card-controls {
    height: 8cqh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: rgba(86, 86, 86, 0.15);
    backdrop-filter: blur(2px);
}

.weekly-nerd-card {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 13.34vh 18.51vh 24.88vh;
    grid-template-columns: 15vw 15.23vw 15.23vw;

    h3 {
        text-transform: uppercase;
    }
    
    > h3:first-of-type {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
        font-size: 2.5rem;
        font-weight: 700;
    }

    > h3:last-of-type {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        font-size: 2rem;
        font-weight: 700;
    }

    > .bg-text {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
        display: flex;
        justify-content: center;
        align-items: center;

        backdrop-filter: blur(6px);
        background-color: rgba(255, 255, 255, 0.15);
    }
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

.swiper-button-next {
    background-image: url('/assets/icons/next.svg');
}

.swiper-button-prev {
    background-image: url('/assets/icons/back.svg');
}

.swiper-slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

.swiper-slide-active {
opacity: 1;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;

    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 300ms ease-in-out;
}

.swiper-pagination-bullet-active {
    background: var(--clr-primary);
    transform: scale(1.2);
}