---
title: Weekly Nerd blog
layout: _layouts/base.njk
styles: ["homepage.css"]
---

<h1>Weekly</h1>
<h1>Nerd</h1>

<section class="year">
  <span>24</span>
  <div class="orange-square"></div>
  <span>25</span>
</section>

<section class="palette">
  <div class="palette-wrapper">
    <div class="primary"></div>
    <div class="secondary"></div>
    <div class="tertiary"></div>
  </div>
</section>


<p class="small-txt">
  Lorem ipsum dolor sit amet consectetur. Orci arcu placerat vulputate sed auctor a. Volutpat
</p>
<p class="big-txt">
  Lorem ipsum dolor sit amet consectetur. Orci arcu placerat vulputate sed auctor a. Volutpat habitant dignissim dolor elementum sit mauris eu praesent. Pulvinar faucibus sed id neque. Ut urna vivamus amet lorem non nunc faucibus id rhoncus.
</p>