---
title: Weekly Nerds Overview
layout: _layouts/base.njk
styles: ["homepage.css", "overview.css"]
permalink: /progress-review-overview/
---

<div class="orange-square"></div>
<div class="swiper-container card-grid progress-review-card">
  <div class="swiper-wrapper">
    {% for progressReviewPost in collections.progressReview %}
      <a href="/progress-reviews/{{ progressReviewPost.data.title | slugify }}" class="swiper-slide">
        <div class="overview-card">
          <h3>{{ progressReviewPost.data.title }}</h3>
          <h3>{{ progressReviewPost.data.part }}</h3>
          <div class="bg-text">
            <p class="wn-description">{{ progressReviewPost.data.description }}</p>
            <p>read more ></p>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="card-controls">
      <!-- Navigatie -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>

    <!-- Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swiper = new Swiper('.swiper-container', {
    slidesPerView: 1,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    loop: true,
  });
</script>
